.topHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(27, 55, 100);
  // margin: 0 -90px;
  // It should be like this, but I need to do it differently
}

.topHeader .buttons {
  display: flex;
  align-items: center;
  gap: 45px;

  & h4 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -1%;
    text-align: left;
  }

  & h3 {
    background-color: rgb(255, 202, 66);
    color: rgb(27, 55, 100);
    font-family: Cardo;
    font-size: 19px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 2%;
    text-align: center;
    padding: 13px 33px;
  }
}

.topHeader .icons {
  display: flex;
  align-items: center;
  gap: 10px;

  & h3 {
    padding-right: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
  }

  & img:not(:first-child) {
    background-color: #fff;
    width: 45px;
    height: 45px;
  }
}
